<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Introdução ao Vue JS 2</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>

    <div id="app">
      {{msg}}
      <p v-bind:title="titulo">Teste com Title</p>
      <p v-if="condicao">Teste com IF</p>
      <p v-for="registro in registros"> {{registro.titulo}} </p>
      <button v-if="!clicou" v-on:click="usuarioClicou">Salvar</button>
      <button v-if="clicou" v-on:click="usuarioClicou">Aguarde...</button>
      <p>
        <input type="text" name="" v-model="usuario.nome">
        Nome: {{usuario.nome}}
      </p>
    </div>

    <script type="text/javascript">

      var app = new Vue({
        el: "#app",
        data: {
          msg: 'Iniciando com Vue JS 2',
          titulo: 'Teste com V-Bind',
          condicao: true,
          registros: [
            {titulo: 'registro1'},
            {titulo: 'registro2'},
            {titulo: 'registro3'},
            {titulo: 'registro4'},
            {titulo: 'registro5'}
          ],
          clicou: false,
          usuario: {
            nome: ""
          }
        },
        methods: {
          usuarioClicou: function(){
            this.clicou = !this.clicou;
          }
        }
      });



    </script>
  </body>
</html>
